/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css'; /* purple-green.css indigo-pink.css deeppurple-amber.css pink-bluegrey.css */
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.table { display: table; }
.row { display: table-row; }
.cell { display: table-cell; }