<div class="spinner-container" *ngIf="inProcess">
    <mat-spinner diameter="35"></mat-spinner>
  </div>
<div *ngIf="closing">
    <mat-card class="card" >
        <mat-card-header>
            <mat-card-title>Closing Pays for Card &nbsp;&nbsp;<b>{{ closing.cardName }}</b>&nbsp;&nbsp;&nbsp;&nbsp;with Amount&nbsp;&nbsp;<b>{{ closing.closingAmount | currency }}</b></mat-card-title>
        </mat-card-header> 
        <mat-card-content>
            <div class="table" width ="50%">
                <div class="row">
                    <div class="cell">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Id:&nbsp;&nbsp;{{ closing.id }}&nbsp;&nbsp;&nbsp;&nbsp;</div>
                    <div class="cell">Closing Date:&nbsp;&nbsp;<b>{{ closing.closingDate | date:'MM/dd/yyyy' }}&nbsp;&nbsp;&nbsp;&nbsp;</b></div>	  
                    <div class="cell"  style="align-content: flex-end;">Closing  Name:&nbsp;&nbsp;<b>{{ closing.closingName }}</b></div> 	  
                </div>	  
            </div>
        </mat-card-content>
    </mat-card>    
</div>
<br>
<div class="spinner-container" *ngIf="dataSource.loading$ | async">
    <mat-spinner  diameter="35"></mat-spinner>
</div>
<div  class="pay-list">    
    <mat-table class="pays-table mat-elevation-z8" [dataSource]="dataSource"
            matSort matSortActive="id" matSortDirection="desc" matSortDisableClear>
        <ng-container matColumnDef="id">
            <mat-header-cell *matHeaderCellDef mat-sort-header>ID</mat-header-cell>
            <mat-cell *matCellDef="let pay">{{ pay.id }}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="payDate">
            <mat-header-cell *matHeaderCellDef>Pay Date</mat-header-cell>
            <mat-cell class="pay-date-cell"  *matCellDef="let pay">{{pay.payDate | date:'MM/dd/yyyy' }}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="storeName">
            <mat-header-cell *matHeaderCellDef>Store Name</mat-header-cell>
            <mat-cell class="store-name-cell"  *matCellDef="let pay">{{pay.storeName}}</mat-cell>
        </ng-container> 
        <ng-container matColumnDef="amount">
            <mat-header-cell *matHeaderCellDef>Amount</mat-header-cell>
            <mat-cell class="amount-cell"  *matCellDef="let pay">{{pay.amount | currency }}</mat-cell>
        </ng-container>  
        <ng-container matColumnDef="note">
            <mat-header-cell *matHeaderCellDef>Note</mat-header-cell>
            <mat-cell class="note-cell" *matCellDef="let pay">{{pay.note}}</mat-cell>
        </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
    </mat-table>    
    <mat-paginator  #paginator [length]="rowCount" [pageSize]="10" [pageSizeOptions]="[5, 10, 15]"></mat-paginator>      
</div>
<div>
    <button (click)="goBackToList()">Go Back</button>&nbsp;&nbsp;   
</div> 
