<div  *ngIf="store">
    <mat-card class="store-card">
        <mat-card-header>
            <mat-card-title>Store Edit/View</mat-card-title>
        </mat-card-header>
        <mat-card-content>    
            <div class="table">
                <div class="row">
                    <div class="cell">Id:</div>
                    <div class="cell">{{store.id}}</div>
                </div>
                <div class="row">
                    <div class="cell">Store Name:</div>
                    <div class="cell">
                        <mat-form-field>
                            <input matInput [(ngModel)]="store.storeName" placeholder="Card Name" >
                        </mat-form-field>                
                    </div>
                </div>  
                <div class="row">
                    <div class="cell">Active:</div>
                    <div class="cell"><input [(ngModel)]="store.active" type="checkbox"/></div>
                </div>
                <div class="row">
                    <div class="cell"></div>
                </div>                    
            </div> 
            <br>
            <div>
                <button (click)="goBack()">Go Back</button>&nbsp;&nbsp;
                <button (click)="save()">Save</button>    
            </div> 
        </mat-card-content>
    </mat-card>           
</div>  